:root {
  --primaryColor: #102dce;
  --primaryColor-contrast: #FFF;
  --backgroundColor: #FFFFFD;
  --backgroundColor-contrast: #222139;
  --button-color: #64301D;
  --button-color-contrast: #E6EDEF;
  
}


.courseCard {
  border-radius: 0.5rem;
  background-color: var(--backgroundColor);
  color: var(--backgroundColor-contrast);
  font-size: large;
 box-shadow: 0 2px 10px rgba(2, 23, 7, 0.5);*/
}



html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: '', sans-serif;
}

h1, h2, h3, p, li, a {
  font-family: 'Kodchasan', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

main {
  flex: 1;
  padding: 1rem 2rem;
}

body {
  font-family: "Kodchasan", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--backgroundColor-contrast);
  background-color: var(--backgroundColor);
  margin: 0;
  padding: 0;
}

.hero {
  background-color: var(--primaryColor);
  color: var(--primaryColor-contrast);
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navigation {
  background-color: var(--backgroundColor-contrast);
  color: var(--primaryColor-contrast);
  padding: .2rem;
  font-family: "Kodchasan", serif;
  font-weight: 600;
  font-style: normal;
}

.navigation a {
  color: var(--primaryColor-contrast);
  text-decoration: none;
  padding: 14px 10px;
}

.navigation a:hover {
  background-color: var(--backgroundColor);
  color: var(--primaryColor);
  transition: 0.5s;
  text-decoration: underline;
}

li {
  padding: 10px;
}


.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  gap: 5rem; /* Set spacing between items */
}

.container {
  display: flex;
  gap: 1rem;
}

.secClass {
  flex:2;
  text-align: center;
}

.sectionCard {
  flex:1;
  align-items: center;
  text-align: center;
}



.imagePhoto {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}   

.section-header {
  background-color: var(--primaryColor);
  color: var(--primaryColor-contrast);
  padding: .5rem;
}

section h2 {
  margin: 0;
  border-radius: .5rem .5rem 0 0;
}

.marginOne {
  margin-bottom: 1rem;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.footer {
  background-color: var(--primaryColor);
  color: var(--primaryColor-contrast);
  text-align: center;
}

#footer-lastmodified-paragraph {
  font-size: .8rem;
}

.active {
  background-color: var(--backgroundColor);
  color: var(--primaryColor) !important;
  transition: 0.5s;
  text-decoration: underline;
}

#courses-list {
  line-height: 0;
  text-align: left;
}

.button-certificate {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.btn {
  background-color: var(--backgroundColor-contrast);
  color: var(--primaryColor-contrast);
  padding: .5rem 3rem;
  border: none;
  border-radius: .5rem;
  border: 2px solid var(--backgroundColor-contrast);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primaryColor-contrast);
  color: var(--backgroundColor-contrast);
  border: 2px solid var(--primaryColor);
  padding: .5rem 3rem;
  border-radius: .5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

#courseList {
  margin: 0;
  padding: 1rem;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

#courseList li {
  background-color: var(--button-color-contrast);
  color: var(--backgroundColor-contrast);
  padding: .5rem 3rem;
  border: none;
  border-radius: .5rem;
}
.curved-image {
  width: 100px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 15px; /* Adjust radius for more/less curve */
}

.classSec {
  align-items: center;
  text-align: center;
}
/* Media Queries */
@media (max-width: 768px) {
  html {
      font-size: 14px; /* Adjust base font size */
  }

  .container {
      flex-direction: column;
      gap: 0;
  }
  .classSec {
    order: 3;

}
  .secClass {
      order: 1; 
  }
  
  .sectionCard {
      order: 2;
  
  }

  
  .imagePhoto img{
      height: auto;
      max-width: 279px;
  
  }
  
  .navigation ul {
      flex-direction: column;
      gap: 1rem;
  
  }
  
  .hero {
      font-size: small;
      gap: .5rem;
      align-items: center;
  }
  
  #courseList {
      margin: 0;
      padding: 1rem;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
  
  }

  .btn {
      background-color: var(--backgroundColor-contrast);
      color: var(--primaryColor-contrast);
      padding: .5rem 1rem;
      border: none;
      border-radius: .5rem;
      font-size: 1rem;
      white-space: nowrap;
      cursor: pointer;
  }

  .navigation li {
      display: none;
  }

  /* My hamburger menu */
  #menu {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      text-decoration: none;
      padding: .5rem .75rem;
      background-color: var(--primaryColor);
      color: var(--primaryColor-contrast);
  }

  #menu::before {
      content: "☰";
  }

  .show li {
      display: block;
  }

  #menu.show::before {
      content: "✖";
  }

  nav.navigation {
      padding: 0;
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows .5s ease-out;
  }

  nav ul {
      overflow: hidden;
  }

  nav.show {
      grid-template-rows: 1fr;
  }

  .active {
      display: block;
  }

  .navigation a:hover {
      display: block;
  }

  header {
      display: grid;
      grid-template-columns: 44px auto;
  }

  header img {
      width: 50px;
      height: 50px;
  }
}